# -*- mode: snippet -*-
# name: get details reported by lldp
# prefix: lldp_snippet
# key: dp
# group: ansible
# --

- name: ${0:get details reported by lldp}
  lldp:                                                                    
