# -*- mode: snippet -*-
# name: Returns inventory data from I(Ohai)
# prefix: ohai_snippet
# key: oh
# group: ansible
# --

- name: ${0:Returns inventory data from I(Ohai)}
  ohai:                                                                    
