# -*- mode: snippet -*-
# name: Return service state information as fact data
# prefix: service_facts_snippet
# key: rvice_fact
# group: ansible
# --

- name: ${0:Return service state information as fact data}
  service_facts:                                                           
