# -*- mode: snippet -*-
# name: Show the attached disks and disk information of the target host
# prefix: win_disk_facts_snippet
# key: win_disk_fact
# group: ansible
# --

- name: ${0:Show the attached disks and disk information of the target host}
  win_disk_facts:                                                          
