# -*- mode: snippet -*-
# name: Runs ngen to recompile DLLs after .NET  updates
# prefix: win_dotnet_ngen_snippet
# key: win_dotnet_ng
# group: ansible
# --

- name: ${0:Runs ngen to recompile DLLs after .NET  updates}
  win_dotnet_ngen:                                                         
